@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/Shared/master.cshtml";
}
@section scripts{
    <script>
        function addForm() {

            var OldPwd = document.getElementById("OldPwd").value;
            var NowPwd = document.getElementById("NowPwd").value;
            var Pwd = document.getElementById("Pwd").value;

            if (OldPwd == "") {
                alert("原密码不能为空");
                return false;
            }
            if (NowPwd == "") {
                alert("新密码不能为空");
                return false;
            }
            if (NowPwd != Pwd) {
                alert("两次密码不一致");
                return false;
            }
            addform.submit();
        }
    </script>
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"></h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">个人信息管理</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div style="width:900px;margin-left:auto;margin-right:auto">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <form id="addform" class="forms-sample" method="post" action="/Admin/UpdatePassword" enctype="multipart/form-data">


                            <div class="form-group">
                                <label for="exampleSelectGender">原密码</label>
                                <input type="password" class="form-control" id="OldPwd" name="OldPwd">
                            </div>
                            <div class="form-group">
                                <label for="exampleSelectGender">新密码</label>
                                <input type="password" class="form-control" id="NowPwd" name="NowPwd">
                            </div>
                            <div class="form-group">
                                <label for="exampleSelectGender">确认密码</label>
                                <input type="password" class="form-control" id="Pwd" name="Pwd">
                            </div>

                            <div style="float:right">
                                <button type="button" onclick="addForm()" class="btn btn-gradient-primary mr-2">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>