USE [master]
GO
/****** Object:  Database [SelfStudyRoom]    Script Date: 2018/12/3 1:22:23 ******/
CREATE DATABASE [SelfStudyRoom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SelfStudyRoom', FILENAME = N'F:\项目数据库\自习室座位管理系统\SelfStudyRoom.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SelfStudyRoom_log', FILENAME = N'F:\项目数据库\自习室座位管理系统\SelfStudyRoom_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SelfStudyRoom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SelfStudyRoom]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2018/12/3 1:22:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdminName] [varchar](50) NULL,
	[AdminPwd] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Tel] [varchar](20) NULL,
	[Image] [varchar](50) NULL,
	[State] [varchar](20) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 2018/12/3 1:22:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Seat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NULL,
	[SeatNo] [varchar](20) NULL,
	[State] [varchar](20) NULL,
	[SaveTime] [datetime] NULL,
 CONSTRAINT [PK_Seat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SeatDetail]    Script Date: 2018/12/3 1:22:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SeatDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SeatId] [int] NULL,
	[UserId] [int] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[State] [varchar](10) NULL,
 CONSTRAINT [PK_SeatDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StuRoom]    Script Date: 2018/12/3 1:22:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StuRoom](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[SeatNum] [int] NULL,
	[Empty_Seat] [int] NULL,
	[Addr] [varchar](20) NULL,
	[IsAir] [varchar](10) NULL,
	[State] [varchar](10) NULL,
	[AddTime] [datetime] NULL,
	[Detail] [varchar](500) NULL,
 CONSTRAINT [PK_StuRoom] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2018/12/3 1:22:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StuNo] [varchar](20) NULL,
	[Password] [varchar](20) NULL,
	[Name] [varchar](20) NULL,
	[Sex] [varchar](2) NULL,
	[Grade] [varchar](10) NULL,
	[Dormitory] [varchar](20) NULL,
	[Image] [varchar](50) NULL,
	[Tel] [varchar](20) NULL,
	[Email] [varchar](20) NULL,
	[RegTime] [datetime] NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([Id], [AdminName], [AdminPwd], [Name], [Tel], [Image], [State]) VALUES (1, N'admin', N'123456', N'周明', N'15260966227', N'/File/face2.jpg', N'超级管理员')
INSERT [dbo].[Admin] ([Id], [AdminName], [AdminPwd], [Name], [Tel], [Image], [State]) VALUES (3, N'xuexueqin', N'123456', N'薛雪钦', N'15672647134', N'/File/face20.jpg', N'普通管理员')
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[Seat] ON 

INSERT [dbo].[Seat] ([Id], [RoomId], [SeatNo], [State], [SaveTime]) VALUES (1, 2, N'1', N'空闲', NULL)
INSERT [dbo].[Seat] ([Id], [RoomId], [SeatNo], [State], [SaveTime]) VALUES (2, 2, N'2', N'空闲', NULL)
INSERT [dbo].[Seat] ([Id], [RoomId], [SeatNo], [State], [SaveTime]) VALUES (3, 2, N'3', N'空闲', NULL)
GO
SET IDENTITY_INSERT [dbo].[Seat] OFF
SET IDENTITY_INSERT [dbo].[SeatDetail] ON 

INSERT [dbo].[SeatDetail] ([Id], [SeatId], [UserId], [StartTime], [EndTime], [State]) VALUES (4, 30, 1, CAST(0x0000A9A701070964 AS DateTime), CAST(0x0000A9A800C1DA47 AS DateTime), N'离座')
INSERT [dbo].[SeatDetail] ([Id], [SeatId], [UserId], [StartTime], [EndTime], [State]) VALUES (6, 30, 1, CAST(0x0000A9A9001BBD06 AS DateTime), CAST(0x0000A9A9001C19F4 AS DateTime), N'离座')
INSERT [dbo].[SeatDetail] ([Id], [SeatId], [UserId], [StartTime], [EndTime], [State]) VALUES (7, 30, 1, CAST(0x0000A9A9001CCF06 AS DateTime), CAST(0x0000A9A9001D2C03 AS DateTime), N'离座')
SET IDENTITY_INSERT [dbo].[SeatDetail] OFF
SET IDENTITY_INSERT [dbo].[StuRoom] ON 

INSERT [dbo].[StuRoom] ([Id], [Name], [SeatNum], [Empty_Seat], [Addr], [IsAir], [State], [AddTime], [Detail]) VALUES (2, N'圆梦', 30, 29, N'勤奋楼一层', N'有', N'正常', CAST(0x0000A9A600F8924C AS DateTime), NULL)
INSERT [dbo].[StuRoom] ([Id], [Name], [SeatNum], [Empty_Seat], [Addr], [IsAir], [State], [AddTime], [Detail]) VALUES (3, N'乘风', 41, 41, N'勤奋楼二层', N'有', N'正常', CAST(0x0000A9A60107449F AS DateTime), NULL)
INSERT [dbo].[StuRoom] ([Id], [Name], [SeatNum], [Empty_Seat], [Addr], [IsAir], [State], [AddTime], [Detail]) VALUES (4, N'彼岸', 20, 20, N'勤奋楼三层', N'有', N'正常', CAST(0x0000A9A6010772B4 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[StuRoom] OFF
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([Id], [StuNo], [Password], [Name], [Sex], [Grade], [Dormitory], [Image], [Tel], [Email], [RegTime]) VALUES (1, N'651499253@qq.com', N'123456', N'雪雪', N'女', N'20', N'福建省福州市工程学院', N'/File/63679173430460.jpeg', N'15260966227', N'651499253@qq.com', CAST(0x0000A9A50110A60C AS DateTime))
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_StuRoom] FOREIGN KEY([RoomId])
REFERENCES [dbo].[StuRoom] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_Seat_StuRoom]
GO
ALTER TABLE [dbo].[SeatDetail]  WITH CHECK ADD  CONSTRAINT [FK_SeatDetail_Seat] FOREIGN KEY([SeatId])
REFERENCES [dbo].[Seat] ([Id])
GO
ALTER TABLE [dbo].[SeatDetail] CHECK CONSTRAINT [FK_SeatDetail_Seat]
GO
ALTER TABLE [dbo].[SeatDetail]  WITH CHECK ADD  CONSTRAINT [FK_SeatDetail_UserInfo] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserInfo] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SeatDetail] CHECK CONSTRAINT [FK_SeatDetail_UserInfo]
GO
USE [master]
GO
