USE [master]
GO
/****** Object:  Database [SelfStudyRoom]    Script Date: 2018/11/26 21:40:44 ******/
CREATE DATABASE [SelfStudyRoom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SelfStudyRoom', FILENAME = N'E:\项目数据库\自习室座位管理系统\SelfStudyRoom.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SelfStudyRoom_log', FILENAME = N'E:\项目数据库\自习室座位管理系统\SelfStudyRoom_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SelfStudyRoom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SelfStudyRoom]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2018/11/26 21:40:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdminName] [varchar](50) NULL,
	[AdminPwd] [varchar](50) NULL,
	[State] [varchar](20) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 2018/11/26 21:40:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Seat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NULL,
	[SeatNo] [varchar](20) NULL,
	[StartTime] [nchar](10) NULL,
	[EndTime] [nchar](10) NULL,
	[SeatSave] [nchar](10) NULL,
	[Location] [nchar](10) NULL,
	[State] [varchar](20) NULL,
 CONSTRAINT [PK_Seat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StuRoom]    Script Date: 2018/11/26 21:40:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StuRoom](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[SeatNum] [int] NULL,
	[Empty_Seat] [int] NULL,
	[Addr] [varchar](20) NULL,
	[IsAir] [varchar](1) NULL,
	[State] [varchar](10) NULL,
	[AddTime] [datetime] NULL,
 CONSTRAINT [PK_StuRoom] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2018/11/26 21:40:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StuNo] [varchar](20) NULL,
	[Password] [varchar](20) NULL,
	[Name] [varchar](20) NULL,
	[Sex] [varchar](2) NULL,
	[Grade] [varchar](10) NULL,
	[Dormitory] [varchar](20) NULL,
	[Image] [varchar](50) NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_StuRoom] FOREIGN KEY([RoomId])
REFERENCES [dbo].[StuRoom] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_Seat_StuRoom]
GO
USE [master]
GO
